$break-small:450px;
$break-large:800px;

// body {
//     background: linear-gradient(135deg, rgba(85, 239, 203, 1) 0%, rgba(30, 87, 153, 1) 0%, rgba(85, 239, 203, 1) 0%, rgba(91, 202, 255, 1) 100%);
// }

.container {
    top: 0;
    width: 100%;
    height: 600px;
    background-image: url(../img/resize_dev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    @media screen and (max-width: $break-small) {
        width: 100%;
        height: 266px;
        background-image: url(../img/dev_iphone.jpg);
        background-repeat: no-repeat;
}
}